# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Flask
instance/

# Testing / cache
.pytest_cache/
.coverage

# Google Cloud / deployment
.gcloudignore